

.navigation{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav_div{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 42px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

div.nav_div ul li{
    list-style: none;
    display: inline-block;
}

div.nav_div ul li a{
    color: black;
    font-size: 20px;
    font-weight:bold;
    margin-right: 30px;
    text-decoration: none;
}

 span.website-header{
    font-size: 32px;
 }

div.website-banner h1{
    padding-left: 15px;
    font-size: 50px;
    
}

div.website-banner {
  height: 200px; 
  width: 100%;
  
  background: url("images/Screenshot from 2025-09-29 18-59-45.png");
  background-size: cover;
  background-position: 0% 0%; 
  background-repeat: repeat;
  
  display: flex;
  align-items: up;
  justify-content: left;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

div.website_body{
    padding-left: 50px;
    padding-right: 50px;
    background-color: yellow;
}

.section_1{
    background-color: aquamarine;
    overflow: auto;
    
}



div.sub_item img{
    /* float: right; */
    /* margin-right: 20px; */
    width: 500px;
}

div.sub_item#item-2 img{
    float: left;
    margin-right: 20px;
}

div.sub_item p{
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 48px;
}

div.sub_item{
    overflow: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 40px;

}

div.sub_item#item-1{
    background-color: brown;
}


div.sub_item#item-2{
    background-color: thistle;
    object-fit: cover;
}

div.sub_item#item-3{
    background-color: blueviolet;
}

.sub_item#index_1{
    background-color: gray;
    margin-bottom: 100px;
}

.sub_item#index_1 img{
    width: 800px;
}

div.about_us h2#anchor{
    text-align: left;
    text-decoration-line: underline;
    text-size-adjust: 32px;
}

div.about_us h2{
    text-align: center;
}

.items_group {
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-left: 200px;
    display: inline-flex; 
    gap: 60px; 
    padding: 30px; 
    align-items: flex-start;
}

.items_element {
    float: left;
    padding: 30px;
    background-color: tomato;
    width: 400px;           
    box-sizing: border-box; 
}

.items_element img{
    width: 100%; 
    height: 250px;
    display: block;
}

.Section_2{
    background-color: cadetblue;
    overflow: auto;
}

.column_item {
    background-color: blueviolet;
    margin-top: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.item_cluster img {
    width: 300px;
    display: block; 
    margin-left: 30px;
    
}


.column_item#item-2{
    background-color: darkcyan;
}
